.container-password-page {
  h3 {
    margin-bottom: 24px;
  }
}

.recovery-password-email-image {
  margin-top: 60px;
  margin-bottom: 25px;
}

.sent-email-message {
  margin-top: 25px;
  text-align: center;
}

.container-form-recovery-password-text {
  margin-top: 76px;
}
