//COMMON STYLES BETWEEN LOGIN/SIGNUP/FORGOT PAGES
.container-form {
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  min-height: 507px;
  border-radius: 16px;
  width: 405px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}

.container-form-wrapper-inputs {
  border-bottom: 1px solid $secondaryColor;
  font-weight: bold;
  max-width: 90%;
  width: 100%;
  margin-top: 60px;

  label {
    margin-left: 20px;
  }
}
.password-input-icon-container {
  display: flex;
  align-items: center;

  .default-input {
    width: auto;
  }
  button {
    height: 100%;
  }
}

.form-button-logins-adjust-margin {
  margin-top: 88px;
}
.signup-link-wrapper {
  text-align: center;
  margin-top: 32px;
  span {
    color: $thirdColor;
    border-bottom: 1px solid $thirdColor;
  }
}

//SIGNUP
.forgot-password-container {
  max-width: 90%;
  width: 100%;
  text-align: right;
  margin-top: 20px;
  span {
    border-bottom: 1px solid black;
  }
}
