* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: black;
}

body {
  background-color: #f7f7f7;
  min-height: 100vh;
}

.columns {
  display: flex;
}

.aside-column {
  max-width: 280px;
  width: 100%;
}

.main-content-column {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
}

.main-content-wrapper {
  margin: 64px 100px 60px 72px;
}

button {
  cursor: pointer;
  border: none;
  height: 39px;
  font-weight: 600;
  border-radius: 20px;
  margin: 15px;
  background-color: transparent;
}
button:disabled {
  opacity: 35%;
}

.primary-button {
  width: 240px;
  background-color: #da0175;
  color: #ffffff;
}

.secondary-button {
  width: 150px;
  background-color: #374952;
  color: #ffffff;
}

.unfilled-button {
  background-color: #ffffff;
  color: #da0175;
  border: 1px solid #da0175;
}

.botao-normal {
  background-color: red;
}

.botao-normal:disabled {
  background-color: #ccc;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input,
.default-input {
  background-color: transparent;
  border: none;
  padding: 14px 14px 14px 20px;
  max-width: 90%;
  width: 100%;
  outline: none;
  font-size: 1em;
}

.sideMenu-container {
  background-color: #263238;
  min-height: 100vh;
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.sideMenu-logo {
  margin: 30px 0 60px 0;
}

.sideMenu-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
.sideMenu-nav ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideMenu-nav li {
  width: 100%;
  padding-left: 65px;
  color: white;
  display: flex;
  align-items: center;
  height: 40px;
}
.sideMenu-nav li div {
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.balance-information {
  background-color: #374952;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  min-height: 95px;
}
.balance-information span {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.balance-information p {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3em;
}

.container-form {
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  min-height: 507px;
  border-radius: 16px;
  width: 405px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}

.container-form-wrapper-inputs {
  border-bottom: 1px solid #374952;
  font-weight: bold;
  max-width: 90%;
  width: 100%;
  margin-top: 60px;
}
.container-form-wrapper-inputs label {
  margin-left: 20px;
}

.password-input-icon-container {
  display: flex;
  align-items: center;
}
.password-input-icon-container .default-input {
  width: auto;
}
.password-input-icon-container button {
  height: 100%;
}

.form-button-logins-adjust-margin {
  margin-top: 88px;
}

.signup-link-wrapper {
  text-align: center;
  margin-top: 32px;
}
.signup-link-wrapper span {
  color: #da0175;
  border-bottom: 1px solid #da0175;
}

.forgot-password-container {
  max-width: 90%;
  width: 100%;
  text-align: right;
  margin-top: 20px;
}
.forgot-password-container span {
  border-bottom: 1px solid black;
}

.container-password-page h3 {
  margin-bottom: 24px;
}

.recovery-password-email-image {
  margin-top: 60px;
  margin-bottom: 25px;
}

.sent-email-message {
  margin-top: 25px;
  text-align: center;
}

.container-form-recovery-password-text {
  margin-top: 76px;
}

.Home-period-filter-div {
  border-bottom: 1px solid black;
  margin-top: 120px;
  max-width: 100%;
  width: 100%;
}
.Home-period-filter-div ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}
.Home-period-filter-div li {
  margin-right: 56px;
  padding: 10px;
  border-bottom: 3px solid black;
}

.home-content-container {
  max-width: 410px;
  width: 100%;
  box-shadow: 0px 4px 8px 2px #0000001a;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 55px;
}
.home-content-container header {
  background-color: #374952;
  color: #ffffff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}
.home-content-container header img {
  margin-right: 10px;
}

.clients-charge-information-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
}
.clients-charge-information-container span {
  padding: 0 20px;
  font-weight: bold;
}
.clients-charge-information-container .number {
  font-size: 2em;
}

.home-main-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.profile-image {
  position: absolute;
  right: 40px;
  top: 22px;
}

.home-chart-container {
  margin-top: 88px;
  height: 800px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 2px #0000001a;
  border-radius: 16px;
}
.home-chart-container header {
  background-color: #374952;
  color: #ffffff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 40px;
}
.home-chart-container header img {
  margin-left: 80px;
  margin-right: 20px;
}/*# sourceMappingURL=main.css.map */